@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}

@mixin grid($item){
    display: grid;
    grid-template-columns: repeat($item, 1fr);
}

@mixin dimension($ln, $hg){
    width: $ln;
    height: $hg;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

header{
    @include flex(space-between, center);
    h2{
        color: #ffffff;
    }
    // border: 1px solid green;
    padding: 1% 1%;
}


#navigator{
    background-color: rgba(255, 255, 255, 0.088);
    position: fixed;
    height: 50%;
    right: 3vw;
    width: 30px;
    bottom: 17%;
    border-radius:50px;
    padding:2px 2px 2px 2px;
    @include flex();
    flex-direction:column;
    z-index: 9999;
    .nav_btn{
        margin: 10px 0;
        width:100%;
        height: 15%;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: rgb(245, 133, 54);
        cursor: pointer; 
        &:hover{
            color: white;
        }
    }
}

.container{
    @include dimension(85vw, 100%);
    margin-top: 2%;
    margin-left: 3vw;
    .palettes{
        margin-bottom: 10%;
        @include dimension(100%, 70vh);
        @include grid(4);
        grid-gap: 2vw;
        .box{
            border: 1px solid blue;
            border-radius: 50px;
        }
        .horizontal1, .horizontal2{
            grid-column: 1/ span 2;
        }
        .vertical1{
            grid-column: 3;
            grid-row: 1/ span 2;
        }
        .vertical2{
            grid-column: 4;
            grid-row: 1/ span 2;
        }
    }
}