@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  display: none;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

header {
  border-bottom: 1px solid rgb(238, 238, 238);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
header #logo img {
  height: 70px;
}
header #social_btn {
  display: flex;
  gap: 15px;
}
header #social_btn .insta_btn {
  font-size: 12px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: rgb(3, 3, 3);
}
header #social_btn .insta_btn span {
  margin-left: 5px;
}
header #social_btn .github_btn {
  font-size: 32px;
  background-color: transparent;
}
header #social_btn button {
  border-radius: 50px;
  border: none;
  outline: none;
}
header #social_btn button:hover {
  cursor: pointer;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .palettes_wrap {
  max-width: 1640px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.container .palettes_wrap .palette {
  height: 200px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: 400ms;
}
.container .palettes_wrap .palette:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.copy_wrap {
  border-top: 1px solid rgb(238, 238, 238);
  position: fixed;
  background-color: #ffffff;
  bottom: -100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.copy_wrap .hexcode {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.copy_wrap .hexcode .color {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
.copy_wrap .hexcode .arrow {
  color: gray;
}
.copy_wrap .toggle_down {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: gray;
  transition: 200ms;
}
.copy_wrap .toggle_down:hover {
  color: #000000;
  cursor: pointer;
}
.copy_wrap .copy_btn {
  margin-right: 10px;
  border: 1px solid rgb(71, 221, 58);
  outline: none;
  background-color: rgb(49, 231, 32);
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 50px;
  color: #ffffff;
  transition: 200ms;
}
.copy_wrap .copy_btn:hover {
  cursor: pointer;
  background-color: black;
  border: 1px solid gray;
}

@media all and (max-width: 1000px) {
  header #logo img {
    height: 60px;
  }
  header #social_btn .insta_btn {
    padding: 2px;
    font-size: 28px;
    background-color: transparent;
    color: #000000;
  }
  header #social_btn .insta_btn span {
    display: none;
  }
  .container .palettes_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 650px) {
  header #logo img {
    height: 50px;
  }
  .container .palettes_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .copy_wrap {
    padding-bottom: 20px;
  }
  .copy_wrap .hexcode {
    font-size: 12px;
  }
  .copy_wrap .hexcode .arrow {
    display: none;
  }
  .copy_wrap .toggle_down {
    bottom: 0;
  }
  .copy_wrap .copy_btn {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */