*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #ffffff;
}

header{
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    #logo{
        img{
            height: 70px;
        }
    }
    #social_btn{
        display: flex;
        gap: 15px;
        .insta_btn{
            font-size: 12px;
            padding: 10px 20px;
            color: #ffffff;
            background-color: rgb(3, 3, 3);
            span{
                margin-left: 5px;
            }
        }
        .github_btn{
            font-size: 32px;
            background-color: transparent;
        }
        button{
            border-radius: 50px;
            border: none;
            outline: none;
            &:hover{
                cursor: pointer;
            }
        } 
    }
}

.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .palettes_wrap{
        max-width: 1640px;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        .palette{
            height: 200px;
            border-radius: 2px;
            transition: 400ms;
            &:hover{
                transform: scale(1.04);
                cursor:pointer;
            }
        }
    }
}