@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}

@mixin grid($item){
    display: grid;
    grid-template-columns: repeat(1fr, $item);
}

@mixin dimension($ln, $hg){
    width: $ln;
    height: $hg;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

header{
    @include flex(space-between, center);
    h2{
        color: #ffffff;
    }
    // border: 1px solid green;
    padding: 1% 1%;
}


#navigator{
    background-color: rgba(255, 255, 255, 0.088);
    position: absolute;
    height: 50%;
    right: 3vw;
    width: 30px;
    bottom: 17%;
    border-radius:50px;
    padding:2px 2px 2px 2px;
    @include flex();
    flex-direction:column;
    .nav_btn{
        margin: 10px 0;
        width:100%;
        height: 15%;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: rgb(245, 133, 54);
        cursor: pointer; 
        &:hover{
            color: white;
        }
    }
}