@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Merienda", cursive;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff7920, #3877ff);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #1e1e1e;
  box-shadow: inset 5px 5px 10px #151515, inset -5px -5px 10px #272727;
}

/* two navigation buttons */
.navBtn{
  position: fixed;
  right: 0.5vw;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #1e1e1e;
  box-shadow: inset 5px 5px 10px #151515, inset -5px -5px 10px #272727;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}

.navBtn:hover{
  background-color: #fff;
  color: #000;
  box-shadow: none;
}

#downBtn{
  bottom: 20vh;
}

#upBtn{
  top: 20vh;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

header h2 {
  color: #f95700ff;
  font-size: 2vw;
}

header button {
  background-color: #f95700ff;
  border: none;
  outline: none;
  color: #fff;
  padding: 1vw;
  cursor: pointer;
  border-radius: 5px;
  transition: 1s;
  font-size: 1vw;
}

header button:hover {
  border-radius: 50px;
}

h1 {
  text-align: center;
  font-size: 4vw;
}

.container {
  margin-top: 10vh;
  padding: 6vw;
  width: 86vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.palette {
  margin: 1vw;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 500ms;
  padding: 20vh 0px;
  text-align: center;
  font-size: 2vw;
  font-family: "Special Elite", cursive;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

.palette:hover {
  transform: scale(1.1);
  color: #1c1c1c;
}


.palette-animation {
  animation: copied 2s 1;
}

@keyframes copied {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1c1c1c;
  box-shadow: inset 7px 7px 14px #121212, inset -7px -7px 14px #262626;
  border-radius: 20px 20px 0px 0px;
  height: 10vh;
}

footer a {
  color: #f95700ff;
  text-decoration: none;
}

footer .fa-heart {
  color: #f95700ff;
}

@media all and (max-width: 1000px) {
  h1 {
    font-size: 5vw;
  }
  header h2 {
    font-size: 3vw;
  }
  header button {
    font-size: 2vw;
  }
  .palette {
    font-size: 2.5vw;
  }
}

@media all and (max-width: 700px) {
  h1 {
    font-size: 6vw;
  }
  header button {
    font-size: 3.2vw;
  }
  .palette {
    font-size: 3vw;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 6.5vw;
  }

  .palette {
    font-size: 3.5vw;
  }
}

@media all and (max-width: 300px) {
  h1 {
    font-size: 7vw;
  }
  .palette {
    font-size: 4vw;
  }
}
